<section class="video-block" id="video" aria-labelledby="video-heading">
  <div class="video-block__intro" appReveal>
    <p class="video-block__eyebrow">{{ content().eyebrow }}</p>
    <h2 class="video-block__heading font-display" id="video-heading">{{ content().heading }}</h2>
    <p class="video-block__lede">{{ content().lede }}</p>
  </div>

  <div class="video-block__stage" appReveal>
    @if (!playing()) {
      <button
        type="button"
        class="video-block__poster"
        (click)="play()"
        [attr.aria-label]="'Play ' + content().videoTitle"
      >
        <img
          [src]="content().posterImage"
          alt=""
          width="1600"
          height="900"
          loading="lazy"
        />
        <span class="video-block__play" aria-hidden="true">
          <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8 5.5v13l11-6.5L8 5.5Z" />
          </svg>
        </span>
      </button>
    } @else {
      <div class="video-block__frame">
        <iframe
          [title]="content().videoTitle"
          [src]="content().videoUrl"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          loading="lazy"
        ></iframe>
      </div>
    }
  </div>
</section>
